<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Museu Nacional - Acervo</title>
    <meta charset="utf-8">

    <!-- Normalize CSS -->
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">

    <!-- Estilo customizado -->
    <link rel="stylesheet" type="text/css" href="/css/estilo.css">
    <link rel="stylesheet" type="text/css" href="/css/acervo.css">


    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
    <![endif]-->
    <link rel="icon" href="https://www.museunacional.ufrj.br/MUSEU2016/img/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">

</head>
<body>
	<header><!-- Início header -->
		<img src="/images/logo.png" width="30%" onclick="window.location.href='/home'">
		<hr>
		<nav><!-- Início nav -->
			<ul>
				<li><a class="nav-options" href="/home">Home</a></li>
				<li>
					<div class="dropdown">
						<button class="dropbtn">Exposições</button>
						<div class="dropdown-content">
							<a class="drop-item" href="/exposicoes">Antropologia Biológica</a>
							<a href="/exposicoes#arqueologia">Arqueologia</a>
							<a href="/exposicoes#etnologia">Etnologia</a>
							<a href="/exposicoes#geologia">Geologia</a>
							<a href="/exposicoes#paleontologia">Paleontologia</a>
							<a href="/exposicoes#zoologia">Zoologia</a>
						</div>
					</div>
				</li>
				<li><a class="nav-options" href="/acervo">Acervo</a></li>
				<li><a class="nav-options" href="/blog/home">Blog</a></li>
				<li><a class="nav-options" href="/midia">Mídia</a></li>
				<li><a class="nav-options" href="#footer-footer">contato</a></li>
			</ul>
		</nav><!--/fim nav -->

	</header><!--/fim header -->

    <main id="conteudo">
        <section id="img-acervo">
            <div id="main-img">
                <img src="/images/img-acervo1.jpg">
            </div>
        </section>
        <section>
            <article>
                <h1>Acervo</h1>
                <div class="hr"></div>
                <p>
                    A formação do acervo do Museu deu-se primeiramente pela transferência para sua sede, de instrumentos, 
                    máquinas e gabinetes dispersos em outras instituições, pela doação de objetos de arte e da Antiguidade 
                    pela família real, pelas coleções existentes na Casa dos Pássaros, pela coleção de mineralogia, conhecida 
                    como Coleção Werner, e por peças etnográficas provenientes das províncias do Brasil. Hoje, com um acervo 
                    cultural e científico relevante é considerado o maior museu de história natural da América Latina.
                </p>
                <p>
                    A atividade de memória do Museu Nacional /UFRJ está representada no seu acervo sob diversas formas:
                </p>
                <ul>
                    <li>
                        Acervo Bibliográfico formado de livros, folhetos, periódicos, multimeios, in-fólios, obras raras, 
                        mapas, teses e dissertações pertencentes à Biblioteca do Museu Nacional e da Biblioteca Francisca 
                        Keller, do Programa de Pós-Graduação em Antropologia Social (PPGAS);
                    </li>
                    <li>
                        Acervo Científico composto por exemplares representativos da biodiversidade, fósseis, objetos 
                        etnográficos e arqueológicos, pertencentes aos Departamentos de Antropologia, de Botânica, de 
                        Entomologia, de Geologia e Paleontologia, de Invertebrados e de Vertebrados;
                    </li>
                    <li>
                        Acervo Documental constituído de material arquivístico, custodiado pela Seção de Memória e Arquivo 
                        (SEMEAR) e pelo Centro de Documentação em Línguas Indígenas (CELIN).
                    </li>
                </ul>
            </article>
            <section id="img-acervo">
                <div id="main-img">
                    <img src="/images/img-acervo2.jpg">
                </div>
            </section>
            <article>
                <h1>Lançamento: Museu Nacional - Panorama dos Acervos: passado, presente e futuro</h1>
                <div class="hr"></div>
                <p>
                    Foi lançado no dia 31 de julho o livreto "Museu Nacional - Panorama dos acervos: passado, presente e 
                    futuro". Fruto de uma parceria entre o Museu Nacional/UFRJ e o British Council Brasil, " a publicação 
                    vem reafirmar a missão do Museu Nacional/UFRJ como instituição precursora no Brasil em pesquisa, guarda 
                    de acervos e formação de recursos humanos nas áreas de História Natural e Antropologia", conforme ressalta 
                    Cristiana Serejo, vice-diretora do MN/UFRJ e editora da publicação.
                </p>
            </article>
            
            <div id="acesso-pdf">
                <h1>Acesso .PDF</h1>
                <div class="hr"></div>
                <div id="acessos-pdf">
                    <div class="acesso-card" onclick="window.open('https://www.museunacional.ufrj.br/destaques/docs/panorama_de_acervos/livro_acervos_museu_nacional.pdf', '_blank')">
                        <img class="capa" src="/images/capa_livro-pt.jpg" alt="">
                        <img class="bandeira" src="/images/brasil_icon.png" >
                    </div>
                    <div class="acesso-card" onclick="window.open('https://www.museunacional.ufrj.br/destaques/docs/panorama_de_acervos/book_museunacional_collections_2020.pdf', '_blank')">
                        <img class="capa" src="/images/capa_livro-en.jpg" alt="">
                        <img class="bandeira" src="/images/EUA_icon.png" >
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <section>
            <h1>Veja nosso acervo</h1>
            <div id="acervo" onclick="window.location.href=''">
                <p><strong>Acervo</strong></p>
                <img src="/images/seta.png" width="30%">
            </div>
            <div class="hr"></div>
            <img src="/images/logo.png" width="40%">
            <div class="hr"></div>
            <h3 onclick="window.location.href='/blog/home'">Nosso blog</h3>
        </section>
        
        <div id="footer-footer">
            <div class="quad" onclick="window.location.href='https://www.instagram.com/museunacionalufrj/';">
                <img src="/images/instagram.png"> 
            </div>
            <div class="quad" onclick="window.location.href='https://www.youtube.com/channel/UC0_2S5qBQlr1twzbra3XJag'">
                <img src="/images/youtube.png"> 
            </div>
            <div class="quad" onclick="window.location.href='https://x.com/museunacional'">
                <img src="/images/twitter.png"> 
            </div>
            <div class="quad" onclick="window.location.href='https://www.facebook.com/MuseuNacionalUFRJ/?locale=pt_BR'">
                <img src="/images/facebook.png"> 
            </div>
        </div>
    </footer>
</body>
</html>