.titulo {
	text-transform: uppercase;
    font-family: "Blinker", sans-serif;
    color: black;
}

.nav-options, .dropdown {
    font-family: "Blinker", sans-serif;
}

.rodape {
    font-family: "Blinker", sans-serif;
}