<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>Museu Nacional - Blog</title>
	<meta charset="utf-8">

	<!-- Normalize CSS -->
	<link rel="stylesheet" type="text/css" href="../public/css/normalize.css">

	<!-- Estilo customizado -->
	<link rel="stylesheet" type="text/css" href="../public/css/blog.css">
	<link rel="stylesheet" type="text/css" href="../public/css/estilo.css">

	<!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
	<![endif]-->

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">


</head>
<body>
	<header><!-- Início header -->
		<img src="../public/images/logo.png" width="30%" onclick="window.location.href='../../index.html'">
		<hr>
		<nav><!-- Início nav -->
			<ul>
				<li><a class="nav-options" href="../../index.html">Home</a></li>
				<li>
					<div class="dropdown">
						<button class="dropbtn">Exposições</button>
						<div class="dropdown-content">
							<a class="drop-item" href="exposicoes/exposicoes.html">Antropologia Biológica</a>
							<a href="../../exposicoes/exposicoes.html#arqueologia">Arqueologia</a>
							<a href="../../exposicoes/exposicoes.html#etnologia">Etnologia</a>
							<a href="../../exposicoes/exposicoes.html#geologia">Geologia</a>
							<a href="../../exposicoes/exposicoes.html#paleontologia">Paleontologia</a>
							<a href="../../exposicoes/exposicoes.html#zoologia">Zoologia</a>
						</div>
					</div>
				</li>
				<li><a class="nav-options" href="../../acervo/acervo.html">Acervo</a></li>
				<li><a class="nav-options" href="../../midia/midia.html">Mídia</a></li>
				<li><a class="nav-options" href="../#footer-footer">contato</a></li>
			</ul>
		</nav><!--/fim nav -->

	</header><!--/fim header -->
		
	<main id="conteudo">
        <section>
            <h1>Posts</h1>
            <div class="hr"></div>
        </section>
		<section id="cards-section">
            <!--Cards dos posts com a função onclick="window.location.href='[o link será colocado aqui]' "" 
            para acessar a página correta do
            respectivo post -->
            <div class="card-blog" onclick=" window.location.href='' ">
                <div class="img-card-blog">
                    <img src="../public/images/caranguiejo.jpg">
                </div>
                <div class="card-text">
                    <h2>A História que se perdeu em meio ao fogo</h2>
                    <h3>
                        No dia 2 de setembro, uma tragédia foi anunciada, onde grande parte da
                        história fora perdida entre as chamas.                        
                    </h3>
                </div>
            </div>
            <div class="card-blog" onclick=" window.location.href='' ">
                <div class="img-card-blog">
                    <img src="../public/images/museu1.webp">
                </div>
                <div class="card-text">
                    <h2>Museu Nacional reabrirá em 2028</h2>
                    <h3>
                        A previsão da direção é entregar o Bloco 1 (histórico) do Museu Nacional em abril de 2026. A 
                        reabertura total está prevista para 2028.
                    </h3>
                </div>
            </div>
            <div class="card-blog" onclick=" window.location.href='' ">
                <div class="img-card-blog">
                    <img src="../public/images/MaxakalisaurusTopai_Rec.jpg">
                </div>
                <div class="card-text">
                    <h2>Reconstrução do maior dinossauro que viveu no Brasil</h2>
                    <h3>
                        O esqueleto do Maxakalisaurus topai, o maior dinossauro que viveu no
                        Brasil, foi destruído no incêndio do Museu Nacional do Rio de Janeiro em 2018 
                    </h3>
                </div>
            </div>
        </section>
	</main>

		<footer>
			<section>
				<h1>Veja nosso acervo</h1>
				<div id="acervo" onclick="window.location.href='../../acervo/acervo.html'">
					<p><strong>Acervo</strong></p>
					<img src="../public/images/seta.png" width="30%">
				</div>
				<div class="hr"></div>
				<img src="../public/images/logo.png" width="40%">
				<div class="hr"></div>
				<h3 onclick="window.location.href=''">Nosso blog</h3>
			</section>
			
			<div id="footer-footer">
				<div class="quad" onclick="window.location.href='https://www.instagram.com/museunacionalufrj/';">
					<img src="../public/images/instagram.png"> 
				</div>
				<div class="quad" onclick="window.location.href='https://www.youtube.com/channel/UC0_2S5qBQlr1twzbra3XJag'">
					<img src="../public/images/youtube.png"> 
				</div>
				<div class="quad" onclick="window.location.href='https://x.com/museunacional'">
					<img src="../public/images/twitter.png"> 
				</div>
				<div class="quad" onclick="window.location.href='https://www.facebook.com/MuseuNacionalUFRJ/?locale=pt_BR'">
					<img src="../public/images/facebook.png"> 
				</div>
			</div>
		</footer>

</body>
</html>