<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>Museu Nacional - Blog</title>
	<meta charset="utf-8">

	<!-- Normalize CSS -->
	<link rel="stylesheet" type="text/css" href="../css/normalize.css">

	<!-- Estilo customizado -->
	<link rel="stylesheet" type="text/css" href="../css/estilo.css">
	<link rel="stylesheet" type="text/css" href="blog.css">

	<!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
	<![endif]-->

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">


</head>
<body>
	<header><!-- Início header -->
		<img src="../img/logo.png" width="30%" onclick="window.location.href='../index.html'">
		<hr>
		<nav><!-- Início nav -->
			<ul>
				<li><a class="nav-options" href="../index.html">Home</a></li>
				<li>
					<div class="dropdown">
						<button class="dropbtn">Exposições</button>
						<div class="dropdown-content">
							<a class="drop-item" href="exposicoes/exposicoes.html">Antropologia Biológica</a>
							<a href="../exposicoes/exposicoes.html#arqueologia">Arqueologia</a>
							<a href="../exposicoes/exposicoes.html#etnologia">Etnologia</a>
							<a href="../exposicoes/exposicoes.html#geologia">Geologia</a>
							<a href="../exposicoes/exposicoes.html#paleontologia">Paleontologia</a>
							<a href="../exposicoes/exposicoes.html#zoologia">Zoologia</a>
						</div>
					</div>
				</li>
				<li><a class="nav-options" href="../acervo/acervo.html">Acervo</a></li>
				<li><a class="nav-options" href="../index.html#midia">Mídia</a></li>
				<li><a class="nav-options" href="#footer-footer">contato</a></li>
			</ul>
		</nav><!--/fim nav -->

	</header><!--/fim header -->
		
	<main id="conteudo">
		<div id="conteudo-blog"><!-- Início conteudo -->
			<div id="materia">
				<section>
					<h1 id="titulo-blog">
						Museu Nacional reabrirá em 2028
					</h1>
					<h2 id="subititulo">
						A previsão da direção é entregar o Bloco 1 (histórico) do Museu Nacional em abril de 2026. A reabertura total está prevista para 2028.
					</h2>
					<div id="autor">
						<img src="../img/profile.png" width="50px">
						<span id="autor-nome"><strong>Letícia de Paula</strong></span>
						<span id="autor-data"> - Out 31, 2024</span>
					</div>
	
					<div class="imagem">
						<img src="../img/museu1.webp" width="100%">
					</div>
					
				</section>
				<section>
					<p>
						O diretor do museu classifica o trabalho de recuperação como “árduo”, incluindo a confecção dos roteiros 
						e novos circuitos expositivos. Ele destaca a necessidade de doações da sociedade para conseguir reabrir à 
						visitação o palácio histórico dentro do prazo estimado - abril de 2026.  
					</p>
					<p>
						“Precisamos captar até novembro R$ 50 milhões e, até fevereiro do ano que vem, mais R$ 45 milhões. 
						São R$ 95 milhões. Se a gente não tiver, a obra não vai acontecer e não vamos entregar o museu”, alertou.
					</p>
					<p>
						O orçamento estimado para a reconstrução do museu, incluindo o que já foi arrecadado,
						é de R$ 491,7 milhões. Os recursos adquiridos têm origens no setor público e na
						iniciativa privada. São patrocinadores do projeto o Banco Nacional de Desenvolvimento
						Econômico e Social (BNDES), Ministério da Educação (MEC), Ministério da Ciência,
						Tecnologia e Inovação (MCTI), Congresso Nacional, Bradesco e a Vale. 
					</p>
					<p>
						“Apesar do grande apoio que temos do MEC, que recentemente concedeu R$ 14
						milhões para as obras que envolvem uma parte do palácio, é fundamental a participação
						da sociedade brasileira”, afirmou Kellner.
					</p>
					<p>
						Enquanto as entregas à população não chegam, o museu faz, anualmente, o Festival
						Museu Nacional Vive. A última edição foi no dia 1° de setembro, com diversas
						atividades gratuitas na Quinta da Boa Vista, enorme área verde que serve como jardim
						da instituição.
					</p>
					<p>
						Depois de seis anos sem um espaço permanente para visitação, o Museu Nacional
						inaugurou, dia 29 de agosto, uma área vizinha ao prédio histórico para receber alunos
						de escolas. 
					</p>
				</section>

				<div id="palavras-chave">
					<div>Reabertura</div>
					<div>Museu</div>
					<div>Obra</div>
					<div>Previsão</div>
				</div>
			</div>
		</div><!--/fim conteudo -->
	</main>

		<footer>
			<section>
				<h1>Veja nosso acervo</h1>
				<div id="acervo">
					<p><strong>Acervo</strong></p>
					<img src="../img/seta.png" width="30%">
				</div>
				<div class="hr"></div>
				<img src="../img/logo.png" width="40%">
				<div class="hr"></div>
				<h3>Nosso blog</h3>
			</section>
			
			<div id="footer-footer">
				<div class="quad" onclick="window.location.href='https://www.instagram.com/museunacionalufrj/';">
					<img src="../img/instagram.png"> 
				</div>
				<div class="quad" onclick="window.location.href='https://www.youtube.com/channel/UC0_2S5qBQlr1twzbra3XJag'">
					<img src="../img/youtube.png"> 
				</div>
				<div class="quad" onclick="window.location.href='https://x.com/museunacional'">
					<img src="../img/twitter.png"> 
				</div>
				<div class="quad" onclick="window.location.href='https://www.facebook.com/MuseuNacionalUFRJ/?locale=pt_BR'">
					<img src="../img/facebook.png"> 
				</div>
			</div>
		</footer>

</body>
</html>